.navigation-bar {
  top: 325px;
  position: absolute;
  width: 750px;
  height: 33px;
  left: 60px;
}
.icon-buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}
.navigation-bar .wrapper button{
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.navigation-bar .wrapper {
  max-width: 1280px;
  margin: 0 auto; 
  display: flex;
  justify-content: space-between;
  
}


.navigation-bar .brand {
  font-size: 1.5rem;
  font-weight: 700; 
}

.navigation-bar .category-buttons {
  display: flex;
  gap: 16px; 
}

.navigation-bar .category-buttons button {
  padding: 8px 16px; 
  border-radius: 8px; 
  border: none;
  cursor: pointer;
}

.navigation-bar .category-buttons button.selected {
  background-color: #4B40EE; 
  color: #FFF; 
}



